<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startsida</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
    <header>
        <a href="/" id="logo">Backend - Moment 1</a>
        <!-- Meny knapp för att öppna mobilmenyn-->
        <button class="menu-btn open" id="open-menu">
            <span class="menu-icon">
                <span class="bars"></span>
                <span class="bars"></span>
                <span class="bars"></span>
            </span>
            <span class="menu-text">Meny</span>
        </button>

        <!-- navigering -->
        <nav id="nav-menu" aria-label="huvudmeny" role="navigation">
            <!-- Knapp som visas om mobilmenyn är utfälld -->
            <button class="menu-btn close" id="close-menu">
                <span class="menu-icon">
                    <span class="bars cross1"></span>
                    <span class="bars cross2"></span>
                </span>
                <span class="menu-text">Stäng</span>
            </button>
            <ul>
                <li><a href="/">Hem</a></li>
                <li><a href="/add">Lägg till kurs</a></li>
                <li><a href="/about">Om</a></li>
            </ul>
        </nav>
    </header>
    <main>

        <!-- Lista för att visa Mina kurser -->
<h1>Mina kurser</h1>
  <table>
    <tr>
      <th>Kurskod </th>
      <th>Kursnamn </th>
      <th>Kursplan </th>
      <th>Progression </th>
    </tr>
    <% courses.forEach(course => { %>
      <tr>
        <td><%= course.coursecode %></td>
        <td><%= course.coursename %></td> 
        <td><a href="<%= course.syllabus %>"> Visa kursplan  </a></td>
        <td><%= course.progression %></td>
        <td><a href="/delete/<%= course.id %>"> Ändra </a></td> <!-- ÄNDRA DENNA -->
        <td><a href="/delete/<%= course.id %>"> Radera </a></td>
      </tr>
    <% }) %>
  </table>
  <a href="/add">Lägg till ny kurs</a>
    </main>
<script src="/js/scripts.js"></script>
</body>
</html>

